<footer>
	<div class="container-fluid">
		<ul class="social-icons text-center">
			<li><a href="https://twitter.com/langphil" title="Twitter"><i class="fa fa-twitter hover" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/langphil" title="GitHub"><i class="fa fa-github hover" aria-hidden="true"></i></a></li>
      <li><a href="https://www.linkedin.com/in/langphil/" title="LinkedIn"><i class="fa fa-linkedin hover" aria-hidden="true"></i></a></li>
      <li><a href="https://www.flickr.com/photos/langphil/" title="Flickr"><i class="fa fa-flickr hover" aria-hidden="true"></i></a></li>
      <li><a href="https://keybase.io/langphil" title="Keybase"><i class="fa fa-key hover" aria-hidden="true"></i></a></li>
    </ul>
	</div>
  <div class="text-center copy">Phil Lang &copy; <span id="currentYear"></span> - Theme by <a href="https://renatomandic.com/about/" title="Renato Mandic">Renato Mandic</a></div>
</footer>
